.skills-section {
    margin-bottom: 500px;
}

.skills-set {
    margin: 50px;
}

.skill-cards{
    margin-bottom: 40px;
    border-radius: 25px !important;
    padding: 20px !important;
}

.skill-cards:hover {
    box-shadow: -1px 10px 29px 0px rgba(254, 254, 254, 0.8);
}
