.card-form-contact {
    max-width: 550px;
    margin-bottom: 500px;
    border-radius: 25px !important;
    padding: 20px !important;
}


.card-form-contact:hover {
    box-shadow: -1px 10px 29px 0px rgba(254, 254, 254, 0.8);
}

@media  screen and (max-width: 750px) {
    .card-form-contact  {
        max-width: 85%;
    }
}

 