.cards{
    margin-bottom: 40px;
    border-radius: 25px !important;
    padding: 20px !important;
}

.cards:hover {
    box-shadow: -1px 10px 29px 0px rgba(254, 254, 254, 0.8);
}

.project-link {
    margin: 0 auto; 
    color: white;
    text-decoration: none;
}

.text-color {
    color: white;
}

.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.project-btn {
    background-color: black; 
    color: white; 
    border: 2px solid white;
    transition: transform 1000ms ease-in-out;
}


.project-btn:hover {
    background-color: gray;
}
