.cards{
    margin-bottom: 40px;
    border-radius: 25px !important;
    padding: 20px !important;
}

.cards:hover {
    box-shadow: -1px 10px 29px 0px rgba(254, 254, 254, 0.8);
}

.project-link {
    margin: 0 auto; 
    color: white;
    text-decoration: none;
}

.text-color {
    color: white;
}
